*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: "Lobster", sans-serif;
    font-weight: 500;
    font-size: 32px;
}
.container{
    max-width: 1440px;
    padding: 0 60px;
    margin: 0 auto;
}

/* header */

.header_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;

}
.header_nav__list, .footer_nav__list{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.nav_list__item:hover, .footer_nav_list__item:hover{
    text-decoration: underline 2px;
    cursor: pointer;
}
/* main */
.main_content__top{
    display: flex;
    gap: 40px;
}
.main_content__bottom{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.main_content{
    margin-top: 90px;
}
.block_img:hover{
    position: relative;
    cursor: pointer;
}

/* catalog */

.main_catalog{
    margin-top: 94px;
}
.catalog__head{
    display: flex;
    padding: 0 60px;
    justify-content: space-between;
    gap: 20px;
}
.catalog__search{
    display: flex;
    width: 550px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: end;
}
.catalog__search>img{
    padding: 2px 10px 2px 0;
    max-width: 84px;
}
.catalog_item{
    color: #fff;
    background-color: #BF8D30;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}

.catalog_main{
    margin-top: 60px;
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.catalog_item_txt{
    font-size: 24px;
    gap: 70px;
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
}
.catalog_item_button{
    cursor: pointer;
    font-size: 20px;
    background-color: #A66C00;
    padding: 10px 58px;
    border-radius: 10px;
}
.catalog_item_button:hover,.catalog_button:hover{
    background-color: #724C05;
}
.catalog_button{
    margin: 50px auto;
    border-radius: 10px;
    color: white;
    background-color: #A66C00;
    padding: 13px 94px;
    text-align: center;
    width: 50%;
}
/* video */
.video_play{
    margin-top: 90px;
}
.circle>div{
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}
.circle{
    justify-content: center;
    display: flex;
    gap: 25px;
    margin-top: 27px;
}
/* forms */
.main_forms{
    margin-top: 94px;
    padding: 0 60px;
}

.form{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 670px;
}
.form_item{
    width: 100%;
    outline: none;
    padding: 15px 0 15px 22px;
    font-size: 32px;
    font-family: "Lobster", sans-serif;
    margin-top: 45px;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
}
#checkbox_input{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-top: 0;
}
.form_checkbox{
    gap: 30px;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.form_checkbox>label{
    text-align: start;
}
.form_button{
    padding: 15px 0;
    margin-top: 38px;
    text-align: center;
    border: 1px solid black;
}
.form_button:hover{
    background-color: #ACACAC;
    color: white;
    cursor: pointer;
}
/* footer */

.footer{
    background-color: #F6F6F7;
    margin-top: 107px;
    color: #555555;
    padding: 25px 0;
}
.footer_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.footer_nav__list>a{
    color: #555555;
}
.footer_contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 163px;
    margin-top: 27px;
}
@media (max-width: 1400px) {
    body{
        font-size: 20px;
    }
    .header_content,.header_nav__list,.footer_nav__list{
        justify-content: center;
        gap: 25px;
    }
    .main_content__top,.block{
        text-align: center;
        justify-content: center;
        gap: 0;
    }
    .block_centre, .main_content__bottom{
        display: none;
    }
    .catalog__search>img{
        width: 40px;
    }
    .form_item{
        font-size: 20px;
    }
    .footer_contacts{
        gap: 0;
        gap: 20px;
    }
}